# Publish GitHub workflow artifacts tutorial example
name: MongoAtlas backup NONPRO

on:
    workflow_dispatch:
    push:
        branches:
          - first_check

jobs:
       
  archive-build-artifacts:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
        uses: actions/checkout@v3
    - name: Execute backup script
        run: |
          cd scripts
          chmod mongodb_backup.sh
          ./mongodb_backup.sh
    
    - name: Step 3 - Use the Upload Artifact GitHub Action
        uses: actions/upload-artifact@v4
        with: 
            name: mongoatlas_backup_nonpro
            path: mongoatlas_backup.zip
